<p id="notice"><%= notice %></p>

<p>
  <strong>Seat:</strong>
  <%= @flight.seat %>
</p>

<p>
  <strong>Meal preference:</strong>
  <%= @flight.meal_preference %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @flight.destination %>
</p>

<p>
  <strong>Departure time:</strong>
  <%= @flight.departure_time %>
</p>

<p>
  <strong>Arrival time:</strong>
  <%= @flight.arrival_time %>
</p>

<%= link_to 'Edit', edit_flight_path(@flight) %> |
<%= link_to 'Back', flights_path %>
