<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :full_name %>
    <%= form.text_field :full_name, id: :order_full_name %>
  </div>

  <div class="field">
    <%= form.label :mailing_address %>
    <%= form.text_area :mailing_address, id: :order_mailing_address, rows: 2, cols: 40 %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, id: :order_country %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :order_city %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.number_field :phone_number, id: :order_phone_number %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, id: :order_email %>
  </div>

  <div class="field">
    <%= form.label :pay_type %>
    <%= form.select :pay_type, Order.pay_types.keys ,
     id: :order_pay_type, prompt: 'Choose a payment method' %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit Details'%>
  </div>
<% end %>
