<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('.full_name') %></strong>
  <%= @order.full_name %>
</p>

<p>
  <strong><%= t('.mailing_address') %>:</strong>
  <%= @order.mailing_address %>
</p>

<p>
  <strong><%= t('.country') %></strong>
  <%= @order.country %>
</p>

<p>
  <strong><%= t('.city_html') %></strong>
  <%= @order.city %>
</p>

<p>
  <strong><%= t('.phone_number') %></strong>
  <%= @order.phone_number %>
</p>

<p>
  <strong><%= t('.email') %></strong>
  <%= @order.email %>
</p>

<p>
  <strong><%= t('.pay_type') %></strong>
  <%= @order.pay_type %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
