<p id="notice"><%= notice %></p>

<p>
  <strong>Flight:</strong>
  <%= @ticket.flight %>
</p>

<p>
  <strong>Cart:</strong>
  <%= @ticket.cart %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
