<% if notice %>
    <aside id ="notice"><%= notice %></aside>
<% end %>

<link rel="stylesheet" href="https://sdks.shopifycdn.com/polaris/latest/polaris.css" />


<div class="flex-item">
  <div class="Polaris-Page__Content">
  <!-- Flight Catalog -->
    <div id = "catalog" class="Polaris-Card">
      <h1 id="catalog-heading" class="Polaris-Heading"><%= t('.title_html') %></h1>
      <div class="Polaris-ResourceList__ResourceListWrapper">
        <ul class="Polaris-ResourceList" aria-live="polite">
          <li class="Polaris-ResourceList__ItemWrapper" >
                      <% cache @flights do %>
                        <% @flights.each do |flight| %>
                          <% cache flight do %>
            <div class="Polaris-ResourceList-Item"><a aria-describedby="341" class="Polaris-ResourceList-Item__Link" href="customers/341" data-polaris-unstyled="true"></a>
              <div class="Polaris-ResourceList-Item__Container" id="341">
                <div class="Polaris-ResourceList-Item__Content">
                            <div id="flight-item" class="Polaris-Card">
                            <h3><span class="Polaris-TextStyle--variationStrong"><%= sanitize(flight.destination)%></span></h3>
                            <span class="Polaris-TextStyle--variationSubdued"><%= (flight.departure_time).to_formatted_s(:long) %></span>
                            <%= button_to t('.add_html'), tickets_path(:ticket => {flight_id: flight}, locale: I18n.locale), remote: true %>
                            </div>
                </div>
              </div>
            </div>
                          <% end %>
                        <% end %>
                      <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

